.sign-in-form,
.sign-up-form {
  margin-top: 100px;

  .checkbox-field {
    margin-bottom: 20px;

    input {
      margin: 4px 10px 0 0;
    }

    .field label {
      display: inline;
    }
  }

  .social-links {
    margin-bottom: 15px;
    text-align: center;

    img {
      width: 40px;
    }
  }

  input[type="submit"] {
    width: 100%;
  }
}
